.character__profile {
    width: 80%;
    height: 92%;
    overflow-y: scroll;
  }
  
  .character__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 35px;
  }
  
  .character__card {
    display: flex;
    background-color: rgb(60, 62, 68);
    gap: 5px;
    height: 140px;
    border-radius: 15px;
  }
  
  .character__image {
    object-fit: cover;
  }
  
  .character__image > img {
    width: 150px;
    height: 140px;
    border-radius: 10px 0 0 10px;
  }
  
  .character__info {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
.character__info > h3{
    font-size: 1.4rem;
    margin-bottom: 5px;
    white-space: nowrap;    /* Impide que el texto se divida en varias líneas */
    overflow-x: hidden;
    text-overflow: ellipsis; /* Añade los puntos suspensivos (...) */
}
.character__info > span{
    color: gray;
    white-space: nowrap;    /* Impide que el texto se divida en varias líneas */
    overflow-x: hidden;
    text-overflow: ellipsis; 
}

@media screen and (max-width:400px) {
    .character__profile {
        width: 100%;
        
      }
    .character__card {
        flex-flow: column nowrap;
        width: fit-content;
        height: fit-content;
    }
    .character__image > img {
        width: 120px;
        height: 110px;
        border-radius: 10px ;
    }
    .character__info__state{
        display: flex;
        gap: 10px;
        margin-left: 10px;
      }
    .character__info > span, .character__info > p {
        display: none;
    }
    .character__info{
       width: 120px;
    }
    .character__info h3{
        font-size: 1rem;
    }


}