.character__profile {
  width: 100%;
  height: 92%;
  overflow-y: scroll;
}

.character__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 620px;
  gap: 10px;
  padding: 10px;
}

.character__card {
  display: grid;
  grid-template-columns: 130px 190px;
  height: 140px;
  border: 1px solid #BCBCBC;
  border-radius: 10px;
}

.character__card:hover {
  border: 1px solid rgb(167, 167, 167);
}

.character__image {
  width: 130px;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.character__info {
  background-color: rgb(195, 195, 196);
  color: rgb(70, 70, 70);
  padding: 10px;
  border-radius: 0 10px 10px 0;
}

.character__info__state {
  display: flex;
  align-items: center;
  gap: 5px;

}

.character__info>h3 {
  color: rgb(240, 85, 24);
  font-size: large;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 170px;
}

.span__status {
  display: block;
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
}
.span__status.live{
  background-color: rgb(0, 109, 0);
}

.span__info {
  font-size: small;
  
}

.character__info>span {
  display: block;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 18 0px;
}

.character__info p {
  margin-top: 2 px;
  width: 100%;
  font-size: .8rem;
  font-weight: 600;
  color: rgb(211, 138, 2);
}

.navegation__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;

}

.navegation__buttons button {
  border: none;
  background-color: rgb(219, 155, 36);
  cursor: pointer;

 
}

.navegation__buttons button:hover {
  background-color: rgba(238, 140, 61, 0.712);
}

.navegation__icons {
  font-size: 2.5rem;
  color: #fff;
  padding: 5px;
}