@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
:root{
  --background-color: #d6d6d6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, html {
  overflow: scroll;  
}

.backgraund{
  background-color: #d6d6d6;
}
a{
  color: #272C3B;
}
::-webkit-scrollbar-track {
  border-radius: 6px;
  /* Bordes redondeados del track */
}

* {
  scrollbar-width: none;
  /* Grosor del scrollbar */
  scrollbar-color: #888 #272C3B;
  /* Color del thumb y del track */
}

/*Responsive Design*/
.container__main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "Welcome target"
    "fotter fotter";
    color: #000000;
    grid-auto-columns: 1fr 100px;
}

.container__main__header {
  grid-area: header;
  height: 60px;
}

.container__main__body {
  grid-area: Welcome;
  
 
}

.container__main__target {
  grid-area: target;
  align-self: center;
}

.container__main__footer {
  grid-area: fotter;
  display: grid;
  border-top: 1px solid;
  place-items: center;
  width: 85%;
  margin: auto;
 
}
.container__main__footer > a{
  margin: 10px;
  text-decoration: none;
  color: #272C3B;
}


/*Navegation*/
.navegation{
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 9999;
}
.hidden__menu{
  display: none;
}
.nav__ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.nav__ul>li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Sofadi One';
}

.nav__ul>li>a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-family: 'Sofadi One', cursive;
  color: #272C3B;
}

.menu__desplegable{
  display: none;
}
.menu__desplegable>li{
  list-style: none;
}
.menu__desplegable>li>a{
  text-decoration: none;
}


@media screen and (max-width: 700px) {
  .container__main__target {
    align-self: end;
  }
  .nav__ul{display: none;}
  .container__main {
    grid-template-areas:
      "header"
      "Welcome"
      "target"
      "fotter";
      grid-auto-rows: 60px calc(1fr - 20px) 70px 30px;
  }
  .hidden__menu{
    display: block;
  }
  .menu-toggle {
    height: 32px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin: 90px auto;
    width: 40px;
  }
  .menu-toggle:hover {
    color: #999;
  }
  .menu-toggle i,
  .menu-toggle i:after,
  .menu-toggle i:before {
    display: block;
    position: absolute;
    height: 3px;
    width: 40px;
    right: 0;
    background: #999;
    border-radius: 2px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .menu-toggle i:after,
  .menu-toggle i:before {
    content: '';
  }
  .menu-toggle i:after {
    top: -32px;
  }
  .menu-toggle i:before {
    top: -16px;
  }
  .menu-toggle i {
    top: 32px;
  }
  .menu-toggle.open i:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -22px;
  }
  .menu-toggle.open i:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -22px;
  }
  
  .menu__desplegable{
    display: block;
    background-color: #d6d6d6;
    display: flex;
    gap: 10px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 0px;
    width: 100px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    transition: height 1s ease;
  }
  
  .menu__desplegable.open {
    height: 135px;
    overflow: hidden;
  }
}