.container__home{
  padding: 10px 25px;
  margin: auto;
  display: flex;
  flex-flow: column;
  gap: 20px;
  height: fit-content;
  max-width: 1000px;
  margin-top:50px
}
.container__home > h3 {
  color: rgb(11, 75, 252);
  font-size: 3rem;
}
.container__home > p {
  font-size: 1.5rem;
}
.button__home{
    margin-top: 40px;
    background: #0b4bfc;
    color:#fff;
    border:none;
    border-radius: 15px;
    position:relative;
    height:45px;
    font-size:1.3em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;

    font-family: 'Sofadi One', cursive;
  }
  .center{
    margin: auto;
  }
  .button__home:hover{
    background-color: #1131bc;
    color: #fff;
  }
  .button__home:before,.button__home:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #d6d6d6;
    transition:400ms ease all;
  }
  .button__home:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button__home:hover:before,.button__home:hover:after{
    width:100%;
    transition:800ms ease all;
  }
