.section__tech{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}
.card{
    height: fit-content;
    border: #BCBCBC 1px solid;
    border-radius: 10px;
    width: clamp(300px,350px,450px);
    margin: 15px;
    display: flex;
    padding: 12px;
    align-items: center;
    background-color: #e1e2e4;
    background-color: rgba(182, 182, 182, 0.822);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}
.card:hover{
    border: 1px solid #a0a0a0ad;
}

.card__html{
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}
.card__html >  h3{
 font-size: 1.2rem;
 margin-left: 5px;
 margin-bottom: 5px;
}
.card__html >  span{
    margin-top: 5px;
    font-size: .9rem;
    margin-left: 5px;
    color: rgb(61, 61, 61);
}
.card__html >  a{
    text-decoration: none;
    text-align: end;
    margin-right: 10px;
    color: red;
    font-family: cursive;
    font-size: .8rem;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}
.card__html >  a:hover{
    color: rgba(255, 0, 0, 0.856);
    transform: scale(1.01);
}
@media screen and (max-width:700px){
    .section__tech{
        margin-top: 0;
    }
    .card{
        width: 100%;
    }
    .card__html{
        width: 100%;
    }
}